.form{

	margin-top: 20px;
}

.text-box{

	margin-right: 50px;
}

.btn{

	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 20px;

	width: 80px;
	height: 20px;
}

table, tr, td, th{

	border: 2px solid black;
}